
$baseFontFamily: Lato;
@import url(http://fonts.googleapis.com/css?family=Lato);
/*@import url(http://fonts.googleapis.com/css?family=Domine);*/
/*@import url(http://fonts.googleapis.com/css?family=Noto+Sans);*/
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/* $btnPrimaryBackground: orange;
$navbarBackgroundHighlight: black;
$navbarBackground: black; */

@import 'bootstrap';

body {
	padding-top: 80px;
}

@import 'bootstrap-responsive';

/* Test */

.navbar{
margin:0px 0px 10px 0px;
}

.navbar-inner > .container{
width:1150px;
} 

.navbar-inner{
border-radius:0px;
background: #222 !important; 
background-image: none;
background-repeat: no-repeat;
filter: none !important;
/*border-top:1px solid #cc412a !important;
border-bottom:1px solid #cc412a !important;
border-left:0px !important;
border-right:0px !important; */
}

.navbar .btn{
background:#cc412a !important;  
font-size:13px;
padding:4px 10px;
}

.navbar .btn:hover{
background:#222 !important;
}

.navbar .caret{
border-top-color:#fff !important;
border-bottom-color:#fff !important;
}

.navbar .brand{
color: orange !important;
text-shadow:none !important;
padding-top: 10px;
padding-left: 520px;
font-size: 2em;
font-family: Clicker Script;
}
/*
.navbar .nav{
border-left:1px solid #cc412a;
border-right:1px solid #e75f48;
}*/

.navbar .nav > li > a{
padding: 12px 15px 12px;
color: #fff !important;
text-shadow:none !important;
border-right: 1px solid #444;
border-left:1px solid #444;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.navbar .nav > li > a:hover{
background:#444 !important;
color:#fff !important;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
color: #ffffff;
/*box-shadow:none; */
background: #cc412a !important;
}


.hero-unit {
	text-align: center;
	/*background-color: #222;
	color: white;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*box-shadow: 1px 1px 3px 3px #ddd;*/
}

.hero-unit > h1 {
	font-family: Clicker Script;
	font-size: 4.3em;
}

.headtext {
	padding-left: 10px;
	text-align: center;
	color: #222;
	font-size: 1.3em;
}
/*
.navbar .nav > li > a {
  /*  float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    color:  orange;
} */

.brand {
	/*height: 35px;
	vertical-align: center;*/
}

.navbar-inner {
	/*@include box-shadow(none !important);*/
	border: 0;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #777;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}
